# ignore the vendor libraries - they will be provided by carton
local/

# ignore vim swap files
**.swp
**.swo

# ignore the database - it shouldn't be shipped, as it's only runtime data
data/boards.sqlite

# when I run superlinter locally, it generate the logfile, which shouldn't end up in git
super-linter.log
