# ignore the vendor libraries - they will be provided by carton
local/

# ignore vim swap files
**.swp
**.swo

# ignore our created boards - they are to be mounted in (directory names are 32 chars long by definition)
data/????????????????????????????????/
