<!-- vim: set ft=html : -->
<div id="board" data-boardid="<% board_id %>" data-size="<% objectives.size %>">

	<% FOREACH item in objectives %>
	<div id="quest-<% loop.index() %>" class="quest" data-captured="<% item.captured_by or "uncaptured" %>">
		<div class="vertical-center">
		<% item.objective %>
		</div>
	</div>
	<% END %>

</div>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/board.js"></script>
