body {
	font-family: Lucida, sans-serif;
}

h1 {
	color: #aa0000;
	border-bottom: 1px solid #444444;
}

h2 { color: #444444; }

pre {
	font-family: "lucida console", "monaco", "andale mono", "bitstream vera sans mono", "consolas", monospace;
	font-size: 12px;
	border-left: 2px solid #777777;
	padding-left: 1em;
}

footer {
	font-size: 10px;
}

span.key {
	color: #444499;
	font-weight: bold;
	width: 120px;
	display: inline;
}

span.value {
	color: #449944;
}

/* these are for the message boxes */

pre.content {
	background-color: #eeeeee;
	color: #000000;
	padding: 1em;
	margin: 0;
	border: 1px solid #aaaaaa;
	border-top: 0;
	margin-bottom: 1em;
	overflow-x: auto;
}

div.title {
	font-family: "lucida console", "monaco", "andale mono", "bitstream vera sans mono", "consolas", monospace;
	font-size: 12px;
	background-color: #aaaaaa;
	color: #444444;
	font-weight: bold;
	padding: 3px;
	padding-left: 10px;
}

table.context {
	border-spacing: 0;
}

table.context th,
table.context td {
	padding: 0;
}

table.context th {
	color: #888899;
	font-weight: normal;
	padding-right: 15px;
	text-align: right;
}

.errline {
	color: red;
}

pre.error {
	background: #333344;
	color: #ccccdd;
	padding: 1em;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	overflow-x: auto;
}
